<div class="flex items-center justify-center">
  <div class="bg-slate-500 max-w-lg mx-4 px-4 shadow-md shadow-slate-600 rounded-md">
    <h2 class="font-semibold text-2xl color-[fff]">Connectez-vous</h2>
    <form>
      <div class="mt-4">
        <label class="block text-base mb-2">Nom d'utilisateur</label>
        <input type="text"placeholder="Nom d'utilisateur" name="username"[(ngModel)]="username">
      </div>

      <div class="mt-4 mb-8">
        <label class="block text-base mb-2">Mot de Passe</label>
        <input type="password"minLength="8"placeholder="Mot de passe"name=password [(ngModel)]="password">
      </div>

    <button type="submit"class="bg-slate-300 rounded-md font-semibold px-2 py-2 items-center justify-center"(click)="login()">Se Connecter</button>
    </form>
  </div>
</div>

