<div class="flex items-center justify-center bg-indigo-500 h-screen">
  <div class="bg-white w-96 mx-4 px-4 shadow-md shadow-slate-600 rounded-md text-center">
    <h2 class="font-semibold text-2xl text-center">Connectez-vous</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="my-2">
      <div class="mt-4">
        <label class="block text-base mb-2">Nom d'utilisateur</label>
        <input type="text"
        formControlName="username"
        placeholder="Nom d'utilisateur"
        name="username"
        class="focus:outline-none border w-full text-base px-2 py-1 focus:border-indigo-500">
      </div>

      <div class="mt-4 mb-8">
        <label class="block text-base mb-2">Mot de Passe</label>
        <input type="password"
        minLength="8"
        formControlName="password"
        placeholder="Mot de passe"
        name=password
        class="focus:outline-none border w-full text-base px-2 py-1 focus:border-indigo-500">
      </div>
    <button class="bg-indigo-400 hover:bg-indigo-300 duration-200 rounded-md font-semibold px-2 py-2 items-center justify-center text-white ">Se Connecter</button>
    <p (click)="goToRegisterPage()" class="hover:text-neutral-600">Pas de compte ? Cliquez ici.</p>
    {{error}}
    </form>
    <button type="button" class="bg-indigo-400 hover:bg-indigo-300 duration-200 font-semibold text-white rounded-md px-4 py-2 mb-4" (click)="homepage()">Retour à l'accueil</button>
  </div>
</div>

